/*----------------------------------------------------------------------------*/
/* ROOT START*/

:root {

  /* COLORS  */
  --color_Primary: #172a35;
  --color_Accent: rgb(111, 255, 233);
  --color_Accent_75a: rgb(111, 255, 233,.75);
  --color_shadow_025_black:  rgba(0,0,0,.25);
  --color_shadow_01_black:   rgba(0,0,0,.1);

  /* TITLE */
  --title_Color: #fefdff;
  --title_Font: #0b132b;
  
  
  /* BACKGROUND */
  --bg_Body: #F9F9F9; /* A very light shade of white gray */    
  --bg_Section: #fefdff; /* A variation of white gray  */
  
  /* BUTTONS */
  --btn_txt_inactive: #F9F9F9;
  --btn_txt_active: var(--color_Accent);
  
  /* BOX SHADOWS */
  --boxShadow_Top: 0 -.1rem .5rem var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_top_hover_black_25a: 0 -.75rem 1rem var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_top_hover_black_1a:  0 -.1rem .5rem var(--color_shadow_01_black); /* offset-x | offset-y | blur-radius | color */

  --boxShadow_inset_Top:  inset 0px 11px 10px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_Inset_bottom:  inset 0px -11px 8px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_inset_Top_Right:  inset -10px 9px 7px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_bottom_accent_Primary: 0 .01rem .4rem var(--color_Accent); /* offset-x | offset-y | blur-radius | color */
  
  /* BORDERS */
  --border_shadow_1px_25a: 1px solid var(--color_shadow_025_black);
  --border_shadow_1px_1a: 1px solid var(--color_shadow_01_black);
}

/* :ROOT END */
/* -------------------------------------------------------------------------- */
/*-- EVERYTHING --*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box; /* prevent padding overflow */
  background-color: var(--bg_Body);
}


/* animations for ALL spans - includes time slots and X to close button content */
span {
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

button {
  /* box-shadow: .05rem -.05rem 0rem rgba(0,0,0,.5); */
  box-shadow: var(--boxShadow_inset_Top_Right);
}

/* -------------------------------------------------------------------------- */
/*-- HEADER -> START  --*/
.jumbotron {
  text-align: center;
  background-color: var(--color_Primary);
  color: var(--title_Color);
  border-radius: 0;
  border-bottom: .25rem solid var(--color_shadow_025_black);
  box-shadow: var(--boxShadow_bottom_accent_Primary);
  
  /* margin: 2rem; */
  padding: .5rem 2rem; 
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.far,
.blockquote-footer {
  color: var(--color_Accent);
}
#appName:hover {
  color: var(--color_Accent);
}

#appName:hover #appIcon,
#appName:hover #appTagline {
/* .jumptron:hover ~ .blockquote-footer { */
  
  color: var(--title_Color) !important;
}

/* Header holding date time stamp + toggle button */
.container_DateTime {
  background-color: var(--bg_Body);
  color: var(--color_Primary);
  
  margin: 1rem 0 0 0;
  padding: 0 1rem;
  box-shadow: var(--boxShadow_inset_Top_Right) !important;
  border: 1px solid var(--color_Primary);
  border-radius: .25rem;
}
.container_DateTime:hover{
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  border: 1px solid var(--color_Accent);
}
.container_DateTime p {
  margin: 0; /* makes sure top and bottom are = */
}


/*-- HEADER -> END  --*/
/* -------------------------------------------------------------------------- */
/*-- EVENT MODAL -> START --*/


/* Event Creator Title Section */
.modal-header {
  background: var(--color_Primary);
  color: var(--title_Color);
}
.modal-header h3{
  font-size: 1.7rem;
}

.modal-header h3:hover {
  color: var(--color_Accent);
}

.modal_EventDescription {
  color: var(--color_Primary);
  font-weight: bold;


}

/* Description area */
textarea.form-control {
  border: var(--border_shadow_1px_25a);
  background: transparent;
  /* color: var(--title_Font); */
  box-shadow: var(--boxShadow_inset_Top_Right);
  padding: 10px;
  opacity: .5;
  font-size: 1.25rem;
}

textarea.form-control:focus {
  opacity: 1;
  border: none;
}

.btn-close {
  display: none;
}

/* Make close square */
button.close span {
  font-size: 1.5rem;
  border-radius: .5rem;
  background: rgba(215, 62, 77, 0.75);
  border: .2rem solid rgba(215, 62, 77, 0.75) !important;
  color: #fff;
  padding: 0rem .5rem .25rem .5rem;
  box-shadow: var(--boxShadow_inset_Top_Right);
  /* margin: 5rem; */
}

/* Summary of what Time Block is for */
.description{
  white-space: pre-wrap;
  padding: 1rem 0 0 1rem;
}
/* Button to save changes in timeclock  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#event_Message {
  padding: .5rem;
}

/* -------------------------------------------------------------------------- */
/*-- TIMEBASED -> START --*/

/* hides until loaded */
#schedule_Today {
  display: none;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  background-color: var(--bg_Section);
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 2rem;
  box-shadow: var(--boxShadow_Top);
}

/* Parent container for each hour */
.row {
  white-space: pre-wrap;
  height: auto;
  cursor: pointer;
  color: black;
  box-shadow: var(--boxShadow_inset_Top_Right);
}
.row:hover  {
  border: var(--border_shadow_1px_1a);
  box-shadow: var(--boxShadow_top_hover_black_1a);
  color: black;
}

/* Actual container holding time-block editor */
.time-block{
  height: 5rem;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: height 2s linear 1s;
  transition: height 2s linear 1s;
  transition-duration: 2s;
}

/* Styling for the hour text itself */
.hour {
  padding: 1rem;
  border-radius: 15px 0 0 15px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  box-shadow: var(--boxShadow_inset_Top_Right);
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


/*-- TIMEBASED -> END --*/
/* -------------------------------------------------------------------------- */
