
/* -------------------------------------------------------------------------- */
/*-- EVERYTHING --*/
body {

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box; /* prevent padding overflow */
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* -------------------------------------------------------------------------- */
/*-- HEADER -> START  --*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  /* margin: 2rem; */
  padding: 2rem; 
  
}
/* Header holding date time stamp + toggle button */
.container_DateTime {
  box-shadow: inset 0rem 0rem .25rem rgba(0,0,0,.5);
}

.timeFormat{
  /* margin: ; */
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
  /* border-left: 1px solid black; */
  
}

.timeFormat h3 {
  /* padding-left: 1rem;
  width: 100%; */
}


.timeFormat span label {
  padding: .5rem 1rem;
}

/*-- HEADER -> END  --*/
/* -------------------------------------------------------------------------- */
/*-- EVENTS -> START --*/


/* Parent container for each hour */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/* Styling for the hour text itself */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Actual container holding time-block editor */
.time-block{
  text-align: center;
  border-radius: 15px;
}
/* Summary of what Time Block is for */
.description{
  white-space: pre-wrap;
}
/* Button to save changes in timeclock  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


/* -------------------------------------------------------------------------- */
/*-- TIMEBASED -> START --*/
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


/*-- TIMEBASED -> END --*/
/* -------------------------------------------------------------------------- */
/*-- TIMEBASED -> END --*/

/*-- EVENT -> END --*/
/* -------------------------------------------------------------------------- */
